matplotlib~=3.3.1
hypothesis
seaborn~=0.10.1
numpy~=1.19.1
astropy~=4.0.1.post1
pandas~=1.0.2
astroquery~=0.4.1
numba~=0.50.1
scikit-learn~=0.23.2
armapy~=0.8.5
requests~=2.24.0
scipy~=1.5.2
pyarrow
setuptools~=49.6.0
holoviews~=1.13.3
beautifulsoup4~=4.9.1